.button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 25px;
  height: 60px;
  margin: 7px 5px;
  border-radius: 12px;
  color: rgb(66, 76, 98);
  background: #dee4fa;
  box-shadow: 0 3px 0 0 #a1aacf;
  cursor: pointer;
  border: none;
  /* Add transition properties */
  transition: box-shadow 0.1s ease, transform 0.1s ease;
}

.button:active {
  box-shadow: 0 2px 0 0 rgb(38, 41, 47);
  transform: translateY(2px);
}

.operator {
  background-color: #fbcc31;
  box-shadow: 0 3px 0 0 #a88627;
}

.function {
  background-color: #78c48f;
  box-shadow: 0 3px 0 0 #4c8d6c;
}

.btn0 {
  grid-column: 1 / 3;
}
