#calculator {
  display: inline-grid;
  grid-template-columns: 80px 80px 80px 80px;
  padding: 10px;
  font-family: monospace;
  font-size: 20px;
  border-radius: 15px;
  background-color: #353b48;
  box-shadow: 0 10px 0 0 #1c2534, 0 25px 25px -5px rgb(23, 23, 23);
}

#display {
  grid-column: 1 / 5;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 25px;
  height: 80px;
  padding: 0 15px;
  margin: 5px 5px 10px 5px;
  border-radius: 12px;
  background-color: #9ab3d6;
  box-shadow: 0 -2px 0 0 #4b5665;
}
