.App {
  display: flex;
}

header {
  background: rgb(6, 60, 101);
  color: white;
  width: 100%;
  margin-bottom: 50px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px 0px 15px rgb(19, 36, 60);
}

svg path {
  fill: white;
}

header h1 {
  margin-left: 20px;
  font-weight: bold;
}

header a {
  align-self: flex-end;
}

/* Styles for screens wider than 600px */
@media screen and (min-width: 800px) {
  .App {
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: flex-start;
  }
  .App #state-dashboard {
    margin-top: 0;
    margin-left: 30px;
  }
}

/* Styles for screens narrower than 600px */
@media screen and (max-width: 799px) {
  .App {
    flex-direction: column;
    align-items: center;
  }
}
